{% extends "plants/base_generic.html" %} 
{% block content %}
<form method="POST" class="post-form form_allignment" >  
        {% csrf_token %}  
        <div class="input-group mb-3">
        <label>Plant Name
          <input type="text" required="required" class="form-control" placeholder="Plant Name" name="name">
        </div>
        
        <div class="input-group mb-3">
        <label>Country
          <input type="text" required="required" class="form-control" placeholder="Enter the Country it is found in..." name="country">
        </label>
        </div>
        
        <div class="input-group mb-3">
        <label>Climate
          <input type="text" required="required" class="form-control" placeholder="Enter the suitable Climate for its growth" name="climate">
        </div>
        
        <div class="input-group mb-3">
        <label>Soil
          <input type="text" required="required" class="form-control" placeholder="Enter the soil suited for their growth" name="soil">
        </div>
        
        <div class="input-group mb-3">
        <label>Family
          <input type="text" required="required" class="form-control" placeholder="Name the Family it belongs to" name="family">
        </div>
        
        <div class="input-group mb-3">
        <label>Height
          <input type="number" required="required" class="form-control" placeholder="Please enter the avg height of the plant" name="height">
        </div>
        <input type="hidden" name="user_id" value="{{ current_user.id }}"/>
        
        <input type="submit" class="btn btn-outline-success" value="Submit"/>
    </form>
    {% endblock content %}