{% extends "plants/base_generic.html" %} 
{% block content %}
<img class="banner" src="https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg" alt="Forest">
<h1>Plants / Trees<h1> 
<h4>List in descending order</h4>
{% if tallest_plants %} 
    <ul> 
    {% for plant in tallest_plants %} 
        <li><a href="{% url 'plants:show' plant.id %}">{{ plant.name }}</a></li> 
    {% endfor %} 
    </ul> 
{% else %} 
    <p>There are no plants recorded.</p> 
{% endif %}
{% endblock content %}