{% extends "plants/base_generic.html" %} 
{% block content %}
{% if user.is_authenticated %} 
    <div class="text_center"> <p>You are signed in {{user.username}}... 
        Go to... <a href="plants">Plants List</a></p>
        <p>Or add Plants <a href="/plants/add_plant">Add Plants</a></p>
{% else %}
    <h2 class="text_center">Welcome to the encyclopedia Scholars and Entusiats</h2>
    <form class=" signin-form" method="POST"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <div> 
            <button class="btn btn-success" type="submit">Sign In</button> 
        </div> 
        <p></p> 
        <div> If you don't have an account yet 
            <a href="{% url 'users:sign_up' %}">Sign Up</a> 
        </div> 
    </form>
{% endif %}
{% endblock content %}