@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.form-control {
    display: block;
    width: 25%;
}

.text_center{
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.form_allignment{
    margin: 20px 20px;
    padding: 0px 130px;
}


.greetings {
    color: #EDFBF1;
}

.heading a{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #D4F6DD;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #156d74;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #57BB72;
    text-decoration: none;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #D4F6DD;
}

.signin_button button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #57BB72;
    text-decoration: none;
}

.signin_button button{
    padding: 9px 25px;
    background-color: rgba(0,0,0,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signin_button button:hover {
    background-color: #D4F6DD;
}

a {
    text-decoration: none !important;
    color: orange !important;
}

header {
    background: orange;
    padding: 15px;
}

form.container.signin-form {
    width: 26%;
    margin-top: 30px;
}
form.signin-form {
    display: block;
    width: 35%;
    margin: 0 auto;
    margin-top: 100px;
}

form.signin-form input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 20px;
}
.signin_button button:hover {
    background-color: #000000;
    color: white;
}
.heading a {
    color: black !important;
    padding: 40px;
}
.greetings a {
    margin-left: 30px;
    padding-right: 40px;
}
li.list-group-item {}

.data-1 {
    width: 50%;
    margin: 0 auto;
}

.data-1 ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
a.btn.btn-success {
    color: white !important;
    background: #529a52;
    border-color: #529a52;
}

a.btn.btn-danger {
    color: white !important;
}
form.form_allignment {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

form.form_allignment input {
    width: 100%;
    height: 35px;
    border: none;
    background: #e7f0fe;
    padding-left: 15px;
}

form.form_allignment lable {
    color: orange !important;
}
form.form_allignment button {
    padding: 5px 20px;
    border: none;
    background: orange;
    color: white;
    border-radius: 50px;
}
span.helptext {
    color: #0266ff;
}
form.form_allignment {
    margin-bottom: 50px;
}
.signin_button button {color: orange !important;}

.barlinks a {
    color: black !important;
}