{% extends "plants/base_generic.html" %} 
{% block content %}
<img class="banner" src="https://cdn.pixabay.com/photo/2017/01/30/16/11/sunset-2021266_1280.jpg" alt="Forest">
<h2>{{plant.name}} Details</h2> 
<table>
     <thead> 
     </thead> 
     <tbody> 
         <tr> 
             <td><b>Country:</b></td> 
             <td>{{plant.country}}</td> 
         </tr> 
         <tr> 
             <td><b>Climate:</b></td> 
             <td>{{plant.climate}}</td> 
         </tr> 
         <tr> 
             <td><b>Soil:</b></td> 
             <td>{{plant.soil}}</td> 
         </tr> 
         <tr> 
             <td><b>Family:</b></td> 
             <td>{{plant.family}}</td> 
         </tr>
         <tr> 
             <td><b>Height (feet):</b></td> 
             <td>{{plant.height}}</td> 
         </tr>
     </tbody> 
 </table>

 <a href="/update/{{ plant.id }}">Update</a>
 <a href="/delete/{{ plant.id }}">Delete</a>
 {% endblock content %}