{% extends "plants/base_generic.html" %} 
{% block content %}
<img class="banner" src="https://cdn.pixabay.com/photo/2017/01/30/16/11/sunset-2021266_1280.jpg" alt="Forest">

<div class="content container"> 
<h2 class="text-center">{{plant.name}} Details</h2> 
<table class="table ">
     <thea > 
     </thead> 
     <tbody> 
         <tr> 
             <td><b>Country:</b></td> 
             <td>{{plant.country}}</td> 
         </tr> 
         <tr> 
             <td><b>Climate:</b></td> 
             <td>{{plant.climate}}</td> 
         </tr> 
         <tr> 
             <td><b>Soil:</b></td> 
             <td>{{plant.soil}}</td> 
         </tr> 
         <tr> 
             <td><b>Family:</b></td> 
             <td>{{plant.family}}</td> 
         </tr>
         <tr> 
             <td><b>Height (feet):</b></td> 
             <td>{{plant.height}}</td> 
         </tr>
     </tbody> 
 </table>

 <a class="btn btn-success" href="/update/{{ plant.id }}">Update</a>
 <a class="btn btn-danger" href="/delete/{{ plant.id }}">Delete</a>
 
 </div>
 {% endblock content %}